<div class="mt-auto">
    <form (click)="onSubmitReview()" class="mt-3">
        <h6 class="fw-semibold text-dark mb-2">Jouw review</h6>

        <textarea [value]="reviewText" name="reviewText" class="form-control mb-2"
            placeholder="Wat vond je van deze module?" rows="3" required>
      </textarea>

        <div class="d-flex align-items-center mb-3">
            <label class="me-2 text-muted small">Beoordeling:</label>
            <input type="number" [value]="rating" name="rating" class="form-control w-25" min="1" max="5"
                placeholder="1-5" required />
        </div>

        <button type="submit" class="btn btn-primary w-100 fw-semibold">
            Review plaatsen
        </button>
    </form>
</div>