<div class="container py-4">
    @if (isLoading) {
    <div class="spinner-border text-primary spinner-border-lg" style="width: 60px; height: 60px;" role="status"
        aria-hidden="true">
        <span class="visually-hidden">Loading...</span>
    </div>
    <p class="text-center text-muted">Laden...</p>
    } @else {
    @if (errorMessage) {
    <p class="text-center text-danger">{{ errorMessage }}</p>
    } @else if (module) {
    <app-module-card [module]="module"></app-module-card>
    } @else {
    <p class="text-center text-muted">Module niet gevonden.</p>
    }
    }
    <div>
        <a [routerLink]="['/keuzemodule/dashboard']" class="btn btn-primary mt-3">Terug naar overzicht</a>
    </div>
</div>